Bottom
<div id="lyt__copy" style="text-align: center">Copyright &copy; 2013 Out of Cartel. Some rights reservred.</div>
<script type="text/javascript" src="@Url.Content(@"/Scripts/underscore.js")"></script>
<script type="text/javascript" src="@Url.Content(@"/Scripts/modernizr-2.7.2.js")"></script>
<script type="text/javascript" src="@Url.Content(@"/Scripts/jquery-2.1.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content(@"/Scripts/rx.js")"></script>
<script type="text/javascript" src="@Url.Content(@"/Scripts/linq.js")"></script>
